* {
	margin: 100px;
}

body {
<<<<<<< HEAD
<<<<<<< HEAD
	background: yellow;
=======
	background: blue;
>>>>>>> f6d98aed4e867412ae2144f6b219e0dc7bb8f7d3
=======
	background: yellow;
>>>>>>> eaa2e7689c3dd79b717ee21e0e180a801aa1e3ec
}
